<!-- :: Footer -->
<footer class="footer">

    <div class="footer-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6 col-lg-3">
                    <div class="logo">
                        <img class="img-fluid" src="/assets/images/med.png" alt="Footer Logo" style="width: 30px;"><span style="color:white; font-size: 25px; font-weight: 800;margin-top: 15px;">Valcee Medcenter</span>
                        <p>MedDoctors Are A Medical And Health Department Provider Institutions. Suitable For
                            Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related Medical Care
                            Field.</p>
                        <ul class="footer-icon">
                            <li><a><i class="fab fa-facebook-f"></i></a></li>
                            <li><a><i class="fab fa-twitter"></i></a></li>
                            <li><a><i class="fab fa-instagram"></i></a></li>
                            <li><a><i class="fab fa-dribbble"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2">
                    <div class="footer-title">
                        <h4>Quick Link</h4>
                    </div>
                    <ul class="links">
                        <li><a href="01_about-us.html">About Us</a></li>
                        <li><a href="01_doctors.html">Our Doctors</a></li>
                        <li><a href="01_testimonial.html">Testimonial</a></li>
                        <li><a href="01_gallery.html">Gallery</a></li>
                        <li><a href="02_blog-2.html">Blog</a></li>
                        <li><a href="01_contact.html">Contact</a></li>
                        <li><a href="01_appointment.html">Appointment</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-6 col-lg-2">
                    <div class="footer-title">
                        <h4>Help Links</h4>
                    </div>
                    <ul class="links">
                        <li><a href="01_department.html">Departments</a></li>
                        <li><a href="01_sponsors.html">Sponsors</a></li>
                        <li><a href="01_faqs.html">FAQs</a></li>
                        <li><a href="01_shop.html">Shop</a></li>
                        <li><a href="error-page.html">Error Page</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <div class="footer-title">
                        <h4>Open - Closed Time</h4>
                    </div>
                    <ul class="opening-hours">
                        <li>Monday<span>8.00 - 21.00</span></li>
                        <li>Tuesday<span>8.00 - 21.00</span></li>
                        <li>Wednesday<span>8.00 - 21.00</span></li>
                        <li>Thursday<span>8.00 - 21.00</span></li>
                        <li>Friday<span>8.00 - 21.00</span></li>
                        <li>Saturday/Sunday<span>8.00 - 21.00</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="container">
            <p>@ 2020 MedDoctors. With Love by <a href="https://themeforest.net/user/ar-coder/portfolio">AR-Coder</a>
            </p>
            <ul>
                <li><a href="#">Terms &amp; Conditions </a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- :: Scroll Up -->
<div class="scroll-up">
    <a class="move-section" href="#page">
        <i class="fas fa-long-arrow-alt-up"></i>
    </a>
</div>