    <!-- :: Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="logo">
                            <img class="img-fluid" src="/assets/images/med.png" alt="Footer Logo"
                                style="width: 30px; margin-left: 6rem;"><p
                                style="color:white; font-size: 20px; font-weight: 800;margin-top: 5px;">Valcee
                                Medical Center</p>
                            <p>MedDoctors Are A Medical And Health Department Provider Institutions. Suitable For
                                Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related Medical
                                Care Field.</p>
                            <ul class="footer-icon">
                                <li><a><i class="fab fa-facebook-f"></i></a></li>
                                <li><a><i class="fab fa-twitter"></i></a></li>
                                <li><a><i class="fab fa-instagram"></i></a></li>
                                <li><a><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-2">
                        <div class="footer-title">
                            <h4>Quick Link</h4>
                        </div>
                        <ul class="links">
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="http://www.patientfusion.com/doctor/valentine-ozoigbo-md-63371">Appointment</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-2">
                        <div class="footer-title">
                            <h4>Help Links</h4>
                        </div>
                        <ul class="links">
                            <li><a href="/faqs">FAQs</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="footer-title">
                            <h4>Open - Closed Time</h4>
                        </div>
                        <ul class="opening-hours">
                            <li>Monday<span>8.00 - 21.00</span></li>
                            <li>Tuesday<span>8.00 - 21.00</span></li>
                            <li>Wednesday<span>8.00 - 21.00</span></li>
                            <li>Thursday<span>8.00 - 21.00</span></li>
                            <li>Friday<span>8.00 - 21.00</span></li>
                            <li>Saturday/Sunday<span>8.00 - 21.00</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>@ 2020 Valcee Medical Center.
            </div>
        </div>
    </footer>

<!-- :: Scroll Up -->
<div class="scroll-up">
    <a class="move-section" href="#page">
        <i class="fas fa-long-arrow-alt-up"></i>
    </a>
</div>