<!-- :: Loading -->
<div class="loading">
    <div class="loading-box">
        <img class="img-fluid" src="/assets/images/loading.gif" alt="Loading">
    </div>
</div>

<!-- :: All Navbar -->
<header class="all-navbar" id="page">

    <!-- :: Top Navbar -->
    <div class="top-navbar">
        <div class="container">
            <div class="content-box d-flex align-items-center justify-content-between">
                <ul class="website-info">
                    <li>
                        <i class="far fa-envelope"></i>
                        <a href="mailto:Officeadmin@valceemedcenter.com">Officeadmin@valceemedcenter.com</a>
                    </li>
                    <li>
                        <i class="fas fa-map-marker-alt"></i>
                        1620 S. White Station Rd. Memphis, TN 38117.
                    </li>
                    <li>
                        <i class="far fa-clock"></i>
                        mon - fri : 8:00 AM - 7:00 PM
                    </li>
                </ul>
                <ul class="website-icon-social">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fas fa-rss"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fas fa-search search-icon open"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- :: Navbar -->
    <nav class="nav-bar">
        <div class="container">
            <div class="content-box d-flex align-items-center justify-content-between">
                <div class="logo">
                    <a href="/" class="logo-nav">
                        <img class="img-fluid one" src="/assets/images/med.png" alt="01 Logo"><span style="color:#3961a0; font-size: 25px; font-weight: 800;margin-top: 15px;">Valcee Medcenter</span>
                    </a>
                    <a href="#open-nav-bar-menu" class="open-nav-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <div class="nav-bar-links" id="open-nav-bar-menu">
                    <ul class="level-1">
                        <li class="item-level-1">
                            <a href="/" class="link-level-1">Home</a>

                        </li>
                        <li class="item-level-1">
                            <a href="/about" class="link-level-1">About Us</a>
                        </li>
                        <!-- <li class="item-level-1">
                            <a href="03_department.html" class="link-level-1">Department</a>

                        </li> -->
                        <li class="item-level-1">
                            <a href="/faqs" class="link-level-1">FAQs</a>
                        </li>
                        <li class="item-level-1">
                            <a href="/contact" class="link-level-1">Contact</a>
                        </li>
                        <li class="item-level-1">
                            <a href="/login" class="link-level-1">Login</a>
                        </li>
                        <li class="item-level-1">
                            <a href="/register" class="link-level-1">Register</a>
                        </li>
                        <li class="item-level-1">
                            <a href="/testimonys/new" class="link-level-1">new</a>
                        </li>
                        <li class="item-level-1">
                            <a href="/testimonys" class="link-level-1">Testimonys</a>
                        </li>
                        <li class="item-level-1">
                            <a href="/logout" class="link-level-1">Logout</a>
                        </li>
                    </ul>
                </div>
                <ul class="nav-bar-tools d-flex align-items-center justify-content-between">
                    <li class="item">
                        <span class="menu-icon open"><i class="fas fa-list"></i></span>
                    </li>
                    <li class="item btn">
                        <a class="btn-1" href="http://www.patientfusion.com/doctor/valentine-ozoigbo-md-63371">Get an
                            appointment</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

</header>

<!-- :: Search Box -->
<div class="search-box">
    <form>
        <input type="search" placeholder="Search Here.....">
        <button type="submit"><i class="fas fa-search"></i></button>
    </form>
    <span class="search-box-icon exit"><i class="fas fa-times"></i></span>
</div>

<!-- :: Menu Box -->
<div class="menu-box">
    <div class="inner-menu">
        <div class="website-info">
            <a href="/" class="logo"><img class="img-fluid" src="assets/images/med.png" alt="01 Logo"
                    style="width: 40px;"></a>
            <p>
                Valcee Medical Center, is a personalized primary care center. We
                are very family oriented. We cherish and promote the family and
                friends network and will work diligently to provide excellent
                primary healthcare for you, your family and your friends.
            </p>
            <p>
                We have
                an extensive array of diagnostic tools in our medical center that
                we will meticulously use to diagnose and treat your illnesses. So,
                go on and schedule or reschedule an appointment for you or your
                family and let our excellent health team manage your health for
                you.
            </p>
        </div>
        <div class="contact-info">
            <h4>Contact Info</h4>
            <div class="contact-box">
                <i class="flaticon-call"></i>
                <div class="box">
                    <a class="phone" href="tel:0088609830">008860 9830</a>
                    <a class="phone" href="tel:9908300885">990830 0885</a>
                </div>
            </div>
            <div class="contact-box">
                <i class="flaticon-email"></i>
                <div class="box">
                    <a class="mail" href="mailto:Officeadmin@valceemedcenter.com">Officeadmin@valceemedcenter.com</a>
                </div>
            </div>
            <div class="contact-box">
                <i class="flaticon-location"></i>
                <div class="box">
                    <p>1620 S. White Station Rd.</p>
                    <p>Memphis, TN 38117.</p>
                </div>
            </div>
        </div>
        <div class="follow-us">
            <h4>Follow Us</h4>
            <ul class="icon-follow">
                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
            </ul>
        </div>
        <span class="menu-box-icon exit"><i class="fas fa-times"></i></span>
    </div>
</div>