<% layout('layouts/boilerplate')%>
    <!-- :: Breadcrumb Header -->
    <section class="breadcrumb-header" style="background-image: url(/assets/images/hospital.jpeg)">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner">
                        <h1 style="color: white;">404 Error</h1>
                        <ul>
                            <li><a href="/" style="color: white;">Home</a></li>
                            <li><i class="fas fa-angle-right"></i></li>
                            <li style="color: white;">404 Error</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: 404 Error -->
    <section class="page-404-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h2>404</h2>
                    <h5><%=err.message%></h5>
                    <a href="/" class="btn-1">Go Back To Homepage</a>
                </div>
            </div>
        </div>
    </section>