<!DOCTYPE html>
<html lang="en">

<head>
    <!-- :: Required Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="MedDoctors is a Medical & Health HTML Template.">
    <meta name="keywords"
        content="MedDoctors, clinic, corona, dental, dentist, doctor, health, health care, healthcare, hospital, medical, medical care, medicine, pharmacy, physician, surgeon">

    <!-- :: Bootstrap CSS -->
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

    <!-- :: Favicon -->
    <link rel="icon" type="image/png" href="/assets/images/med.png">

    <!-- :: Title -->
    <title>Valcee Medical Center</title>

    <!-- :: Google Fonts -->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Public+Sans:wght@400;500;600;700&amp;family=Rajdhani:wght@400;500;600;700&amp;display=swap">

    <!-- :: Fontawesome -->
    <link rel="stylesheet" href="/assets/fonts/fontawesome/css/all.min.css">

    <!-- :: Flaticon -->
    <link rel="stylesheet" href="/assets/fonts/flaticon/flaticon.css">

    <!-- :: Animate -->
    <link rel="stylesheet" href="/assets/css/animate.css">

    <!-- :: Owl Carousel -->
    <link rel="stylesheet" href="/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/assets/css/owl.theme.default.min.css">

    <!-- :: Lity -->
    <link rel="stylesheet" href="/assets/css/lity.min.css">

    <!-- :: Nice Select CSS -->
    <link rel="stylesheet" href="/assets/css/nice-select.css">

    <!-- :: DatePicker CSS -->
    <link rel="stylesheet" href="/assets/css/datepicker.min.css">

    <!-- :: TimePicker CSS -->
    <link rel="stylesheet" href="/assets/css/jquery.timepicker.min.css">

    <!-- :: Magnific Popup CSS -->
    <link rel="stylesheet" href="/assets/css/magnific-popup.css">

    <!-- :: Style CSS -->
    <link rel="stylesheet" href="/assets/css/style.css">

    <!-- :: Style Responsive CSS -->
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>

<body>
    <!-- :: Loading -->
    <div class="loading">
        <div class="loading-box">
            <img class="img-fluid" src="/assets/images/loading.gif" alt="Loading">
        </div>
    </div>

    <!-- :: All Navbar -->
    <header class="all-navbar" id="page">

        <!-- :: Top Navbar -->
        <div class="top-navbar">
            <div class="container">
                <div class="content-box d-flex align-items-center justify-content-between">
                    <ul class="website-info">
                        <li>
                            <i class="far fa-envelope"></i>
                            <a href="mailto:Officeadmin@valceemedcenter.com">Officeadmin@valceemedcenter.com</a>
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            1620 S. White Station Rd. Memphis, TN 38117.
                        </li>
                        <li>
                            <i class="far fa-clock"></i>
                            mon - fri : 8:00 AM - 7:00 PM
                        </li>
                    </ul>
                    <ul class="website-icon-social">
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fas fa-rss"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fas fa-search search-icon open"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- :: Navbar -->
        <nav class="nav-bar">
            <div class="container">
                <div class="content-box d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <a href="/" class="logo-nav">
                            <img class="img-fluid one" src="/assets/images/med.png" alt="01 Logo"><span style="color:#3961a0; font-size: 25px; font-weight: 800;margin-top: 15px;">Valcee Medcenter</span>
                        </a>
                        <a href="#open-nav-bar-menu" class="open-nav-bar">
                            <span></span>
                            <span></span>
                            <span></span>
                        </a>
                    </div>
                    <div class="nav-bar-links" id="open-nav-bar-menu">
                        <ul class="level-1">
                            <li class="item-level-1">
                                <a href="/" class="link-level-1">Home</a>

                            </li>
                            <li class="item-level-1">
                                <a href="/about" class="link-level-1">About Us</a>
                            </li>
                            <!-- <li class="item-level-1">
                                <a href="03_department.html" class="link-level-1">Department</a>

                            </li> -->
                            <li class="item-level-1">
                                <a href="/faqs" class="link-level-1">FAQs</a>
                            </li>
                            <li class="item-level-1">
                                <a href="/contact" class="link-level-1">Contact</a>
                            </li>
                            <li class="item-level-1">
                                <a href="/login" class="link-level-1">Login</a>
                            </li>
                            <li class="item-level-1">
                                <a href="/register" class="link-level-1">Register</a>
                            </li>
                            <li class="item-level-1">
                                <a href="/testimonys/new" class="link-level-1">new</a>
                            </li>
                            <li class="item-level-1">
                                <a href="/testimonys" class="link-level-1">Testimonys</a>
                            </li>
                            <li class="item-level-1">
                                <a href="/logout" class="link-level-1">Logout</a>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav-bar-tools d-flex align-items-center justify-content-between">
                        <li class="item">
                            <span class="menu-icon open"><i class="fas fa-list"></i></span>
                        </li>
                        <li class="item btn">
                            <a class="btn-1" href="http://www.patientfusion.com/doctor/valentine-ozoigbo-md-63371">Get an appointment</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <!-- :: Search Box -->
    <div class="search-box">
        <form>
            <input type="search" placeholder="Search Here.....">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <span class="search-box-icon exit"><i class="fas fa-times"></i></span>
    </div>

    <!-- :: Menu Box -->
    <div class="menu-box">
        <div class="inner-menu">
            <div class="website-info">
                <a href="/" class="logo"><img class="img-fluid" src="assets/images/med.png"
                        alt="01 Logo" style="width: 40px;"></a>
                        <p>
                            Valcee Medical Center, is a personalized primary care center. We
                            are very family oriented. We cherish and promote the family and
                            friends network and will work diligently to provide excellent
                            primary healthcare for you, your family and your friends.
                            </p>
                            <p>
                             We have
                            an extensive array of diagnostic tools in our medical center that
                            we will meticulously use to diagnose and treat your illnesses. So,
                            go on and schedule or reschedule an appointment for you or your
                            family and let our excellent health team manage your health for
                            you.
                          </p>
            </div>
            <div class="contact-info">
                <h4>Contact Info</h4>
                <div class="contact-box">
                    <i class="flaticon-call"></i>
                    <div class="box">
                        <a class="phone" href="tel:0088609830">008860 9830</a>
                        <a class="phone" href="tel:9908300885">990830 0885</a>
                    </div>
                </div>
                <div class="contact-box">
                    <i class="flaticon-email"></i>
                    <div class="box">
                        <a class="mail" href="mailto:Officeadmin@valceemedcenter.com">Officeadmin@valceemedcenter.com</a>
                    </div>
                </div>
                <div class="contact-box">
                    <i class="flaticon-location"></i>
                    <div class="box">
                        <p>1620 S. White Station Rd.</p>
                        <p>Memphis, TN 38117.</p>
                    </div>
                </div>
            </div>
            <div class="follow-us">
                <h4>Follow Us</h4>
                <ul class="icon-follow">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                </ul>
            </div>
            <span class="menu-box-icon exit"><i class="fas fa-times"></i></span>
        </div>
    </div>

    <!-- :: Header -->
    <section class="header home-2">
        <div class="header-carousel owl-carousel owl-theme">
            <div class="sec-hero display-table" style="background-image: url(/assets/images/hospital.jpeg)">
                <div class="table-cell">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="banner">
                                    <h1 class="handline" style="color: white;">Best Care For Your Family</h1>
                                    <p class="about-website" style="color: white;">MedDoctors Are A Medical And Health Department Provider
                                        Institutions. Suitable For Healthcare, Medical, Doctor, Dental, Dentist,
                                        Pharmacy, Health And Any Related Medical Care Field.</p>
                                    <!-- <a class="btn-1 btn-2" href="http://www.patientfusion.com/doctor/valentine-ozoigbo-md-63371">Get An Appointment</a>
                                    <a class="btn-1 btn-2" href="/about" style="background-color: white;">Learn More</a> -->
                                    <a class="btn-1 btn-2" href="http://www.patientfusion.com/doctor/valentine-ozoigbo-md-63371">make an appointment</a>
                                    <a class="btn-1 btn-3 ml-30" href="/about">Know More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="sec-hero display-table" style="background-image: url(assets/images/header/02_header.jpg)">
                <div class="table-cell">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="banner">
                                    <h1 class="handline">Best Doctor &amp; Medical Care</h1>
                                    <p class="about-website">MedDoctors Are A Medical And Health Department Provider
                                        Institutions. Suitable For Healthcare, Medical, Doctor, Dental, Dentist,
                                        Pharmacy, Health And Any Related Medical Care Field.</p>
                                    <a class="btn-1 btn-2" href="01_doctors-timetable.html">Find A Doctor</a>
                                    <a class="btn-1 btn-3 ml-30" href="02_about-us.html">Discover More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sec-hero display-table" style="background-image: url(assets/images/header/05_header.jpg)">
                <div class="table-cell">
                    <div class="overlay"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="banner">
                                    <h1 class="handline">take Best Quality Treatment</h1>
                                    <p class="about-website">MedDoctors Are A Medical And Health Department Provider
                                        Institutions. Suitable For Healthcare, Medical, Doctor, Dental, Dentist,
                                        Pharmacy, Health And Any Related Medical Care Field.</p>
                                    <a class="btn-1" href="02_department.html">Our Departments</a>
                                    <a class="btn-1 btn-3 ml-30" href="02_about-us.html">Discover More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
    </section>

    <!-- :: Features Home 2 -->
    <section class="features-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="features-item first">
                                <i class="features-icon flaticon-doctor-1"></i>
                                <div class="item-text">
                                    <h4>Professional Doctor</h4>
                                    <p>Lorem Ipsum is simply text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="features-item last">
                                <i class="features-icon flaticon-medicine"></i>
                                <div class="item-text">
                                    <h4>The Best Equipments</h4>
                                    <p>Lorem Ipsum is simply text of the printing and typesetting industry.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="features-opening-hours">
                        <i class="flaticon-globe"></i>
                        <h4>Open - Closed Time</h4>
                        <ul class="opening-hours">
                            <li>Monday<span>8.00 - 21.00</span></li>
                            <li>Tuesday<span>8.00 - 21.00</span></li>
                            <li>Wednesday<span>8.00 - 21.00</span></li>
                            <li>Thursday<span>8.00 - 21.00</span></li>
                            <li>Friday<span>8.00 - 21.00</span></li>
                            <li>Saturday<span>8.00 - 21.00</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: About Us -->
    <section class="about-us about-us-2 py-100" id="start">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text-box">
                        <div class="sec-title sec-title-2">
                            <h2>About Us</h2>
                            <h3>Valcee Medical Center</h3>
                            <p class="sec-explain"> Valcee Medical Center, is a personalized primary care center. We
                                are very family oriented. We cherish and promote the family and
                                friends network and will work diligently to provide excellent
                                primary healthcare for you, your family and your friends.</p>
                        </div>
                        <p> We have
                            an extensive array of diagnostic tools in our medical center that
                            we will meticulously use to diagnose and treat your illnesses. So,
                            go on and schedule or reschedule an appointment for you or your
                            family and let our excellent health team manage your health for
                            you.</p>
                        <ul class="about-core">
                            <li><i class="fas fa-check-double"></i>
                                <h4>online schedule</h4>
                            </li>
                            <li><i class="fas fa-check-double"></i>
                                <h4>leading technology</h4>
                            </li>
                            <li><i class="fas fa-check-double"></i>
                                <h4>high packages</h4>
                            </li>
                            <li><i class="fas fa-check-double"></i>
                                <h4>24/7 online support</h4>
                            </li>
                            <li><i class="fas fa-check-double"></i>
                                <h4>And More...</h4>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col">
                                <a class="btn-1" href="/about">About Us</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img-box">
                        <div class="img-box">
                            <img class="img-fluid" src="/assets/images/val1.jpeg" alt="02 About" style="height: 100%; width: 80%; margin-left: 64px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: Departments -->
    <!-- <section class="departments departments-2 py-100-70">
        <div class="container">
            <div class="sec-title sec-title-2">
                <div class="row">
                    <div class="col-lg-5">
                        <h2>Best practice care!</h2>
                        <h3>Different types of departments</h3>
                    </div>
                    <div class="col-lg-5">
                        <p class="sec-explain">MedDoctors Are A Medical And Health Department Provider Institutions.
                            Suitable For Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related
                            Medical Care Field.</p>
                        <a class="btn-1 sec-btn" href="02_department.html">View All practice care</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="departments-item">
                        <span></span>
                        <i class="departments-item-icon flaticon-hematology"></i>
                        <div class="item-content">
                            <h4>Hematology</h4>
                            <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur
                                adipiscing elit.</p>
                            <a href="01_single-department.html" class="more">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="departments-item">
                        <span></span>
                        <i class="departments-item-icon flaticon-neurology"></i>
                        <div class="item-content">
                            <h4>Neurology</h4>
                            <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur
                                adipiscing elit.</p>
                            <a href="01_single-department.html" class="more">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="departments-item">
                        <span></span>
                        <i class="departments-item-icon flaticon-gastroenterology"></i>
                        <div class="item-content">
                            <h4>gastroenterology</h4>
                            <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur
                                adipiscing elit.</p>
                            <a href="01_single-department.html" class="more">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="departments-item">
                        <span></span>
                        <i class="departments-item-icon flaticon-pulmonology"></i>
                        <div class="item-content">
                            <h4>pulmonology</h4>
                            <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur
                                adipiscing elit.</p>
                            <a href="01_single-department.html" class="more">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="departments-item">
                        <span></span>
                        <i class="departments-item-icon flaticon-cardiology"></i>
                        <div class="item-content">
                            <h4>cardiology</h4>
                            <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur
                                adipiscing elit.</p>
                            <a href="01_single-department.html" class="more">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="departments-item">
                        <span></span>
                        <i class="departments-item-icon flaticon-ophthalmology"></i>
                        <div class="item-content">
                            <h4>ophthalmology</h4>
                            <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur
                                adipiscing elit.</p>
                            <a href="01_single-department.html" class="more">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- :: Provide 2 -->
    <section class="provide-2 py-100">
        <div class="bg-section-2">
            <div class="bg-section-2-left"></div>
            <div class="bg-section-2-right">
                <div class="overlay overlay-4"></div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="text-box">
                        <div class="sec-title sec-title-2">
                            <h2>Provide The Best departments</h2>
                            <h3>We Are Top medical &amp; health With 45 Years Of Experience.</h3>
                        </div>
                        <ul class="provide-core">
                            <li><i class="fas fa-check-double"></i>
                                <h4>professional doctors</h4>
                            </li>
                            <li><i class="fas fa-check-double"></i>
                                <h4>Digital Laboratory</h4>
                            </li>
                            <li><i class="fas fa-check-double"></i>
                                <h4>online schedule</h4>
                            </li>
                            <li><i class="fas fa-check-double"></i>
                                <h4>And More...</h4>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col">
                                <div class="statistic-item">
                                    <div class="statistic-counter">2005</div>
                                    <div class="counter-name">Happy Patients</div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="statistic-item">
                                    <div class="statistic-counter">303</div>
                                    <div class="counter-name">Certified Doctor</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="img-box">
                        <img class="img-fluid" src="assets/images/val1.jpeg" alt="02 Provide" style=" width: 700px;">
                    </div>
                </div>
                <div class="col-lg-4 d-flex align-items-center justify-content-between">
                    <div class="text-box">
                        <div class="sec-title sec-title-2">
                            <p class="sec-explain">Valcee Medical Center Are A Medical And Health Department Provider Institutions.
                                Suitable For Healthcare, Medical, Doctor.</p>
                        </div>
                        <div class="skills">
                            <div class="skill-box">
                                <div class="skill-top">
                                    <span class="name">Best Of Departments</span>
                                    <span class="number">98%</span>
                                </div>
                                <div class="skill-line">
                                    <div class="line" data-value="98%"></div>
                                </div>
                            </div>
                            <div class="skill-box">
                                <div class="skill-top">
                                    <span class="name">Leading Technology</span>
                                    <span class="number">85%</span>
                                </div>
                                <div class="skill-line">
                                    <div class="line" data-value="85%"></div>
                                </div>
                            </div>
                            <div class="skill-box">
                                <div class="skill-top">
                                    <span class="name">High Packages</span>
                                    <span class="number">95%</span>
                                </div>
                                <div class="skill-line">
                                    <div class="line" data-value="95%"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-4 d-flex align-items-center justify-content-between">
                                <img class="img-fluid" src="assets/images/signature.png" alt="About signature">
                            </div>
                            <div class="col d-flex align-items-center justify-content-between">
                                <a class="btn-1 btn-2" href="http://www.patientfusion.com/doctor/valentine-ozoigbo-md-63371">Get An Appointment</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: Fact Area -->
    <section class="fact-area py-100">
        <div class="overlay overlay-2"></div>
        <div class="container">
            <div class="sec-title text-center">
                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <h2>need a doctor for check up?</h2>
                        <h3>just make an appointment</h3>
                        <p class="sec-explain">MedDoctors Are A Medical And Health Department Provider Institutions.
                            Suitable For Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related
                            Medical Care Field.</p>
                        <a class="btn-1 btn-3 sec-btn" href="http://www.patientfusion.com/doctor/valentine-ozoigbo-md-63371">Get an appointment</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: Provides -->
    <section class="provide provide-home-2">
        <div class="bg-section">
            <div class="overlay overlay-3"></div>
        </div>
        <div class="container">
            <div class="sec-title sec-title-2">
                <div class="row">
                    <div class="col-lg-5">
                        <h2>Why Choose Us</h2>
                        <h3>Trusted &amp; Experience medical Care Provider</h3>
                    </div>
                    <div class="col-lg-5">
                        <p class="sec-explain">MedDoctors Are A Medical And Health Department Provider Institutions.
                            Suitable For Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related
                            Medical Care Field.</p>
                        <a class="btn-1 btn-5 sec-btn" href="http://www.patientfusion.com/doctor/valentine-ozoigbo-md-63371">Get An Appointment</a>
                    </div>
                </div>
            </div>
            <div class="provide-content">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="statistic-item">
                            <i class="flaticon-doctor"></i>
                            <div class="content">
                                <div class="statistic-counter">223</div>
                                <div class="counter-name">Expert Doctors</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="statistic-item">
                            <i class="flaticon-rhinology"></i>
                            <div class="content">
                                <div class="statistic-counter">2005</div>
                                <div class="counter-name">Happy Patients</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="statistic-item">
                            <i class="flaticon-medicine"></i>
                            <div class="content">
                                <div class="statistic-counter">530</div>
                                <div class="counter-name">Health Departments</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="statistic-item">
                            <i class="flaticon-stethoscope"></i>
                            <div class="content">
                                <div class="statistic-counter">4456</div>
                                <div class="counter-name">Total Branches</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- :: Quote And Presentation -->
            <div>
                <div>
                    <div>
                        <div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div>

                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div>
                                        <div class="sec-title">
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: Testimonial -->
    <section class="testimonial testimonial-2 py-100">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="testimonial-carousel owl-carousel owl-theme">
                        <% for (let testimony of testimonys) {%>
                        <div class="testimonial-carousel-item">
                            <i class="quote flaticon-left-quote"></i>
                            <div class="content-text-box"><%= testimony.testify %></div>
                            <div class="testimonial-doctor">
                                <h4><%= testimony.name %></h4>
                                <span><%= testimony.occupation %></span>
                            </div>
                        </div>
                        <%}%>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: Footer -->
    <footer class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="logo">
                            <img class="img-fluid" src="/assets/images/med.png" alt="Footer Logo" style="width: 30px;"><span style="color:white; font-size: 25px; font-weight: 800;margin-top: 15px;">Valcee Medcenter</span>
                            <p>MedDoctors Are A Medical And Health Department Provider Institutions. Suitable For
                                Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related Medical
                                Care Field.</p>
                            <ul class="footer-icon">
                                <li><a><i class="fab fa-facebook-f"></i></a></li>
                                <li><a><i class="fab fa-twitter"></i></a></li>
                                <li><a><i class="fab fa-instagram"></i></a></li>
                                <li><a><i class="fab fa-dribbble"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-2">
                        <div class="footer-title">
                            <h4>Quick Link</h4>
                        </div>
                        <ul class="links">
                            <li><a href="01_about-us.html">About Us</a></li>
                            <li><a href="01_doctors.html">Our Doctors</a></li>
                            <li><a href="01_testimonial.html">Testimonial</a></li>
                            <li><a href="01_gallery.html">Gallery</a></li>
                            <li><a href="02_blog-2.html">Blog</a></li>
                            <li><a href="01_contact.html">Contact</a></li>
                            <li><a href="01_appointment.html">Appointment</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-2">
                        <div class="footer-title">
                            <h4>Help Links</h4>
                        </div>
                        <ul class="links">
                            <li><a href="01_department.html">Departments</a></li>
                            <li><a href="01_sponsors.html">Sponsors</a></li>
                            <li><a href="01_faqs.html">FAQs</a></li>
                            <li><a href="01_shop.html">Shop</a></li>
                            <li><a href="error-page.html">Error Page</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-4">
                        <div class="footer-title">
                            <h4>Open - Closed Time</h4>
                        </div>
                        <ul class="opening-hours">
                            <li>Monday<span>8.00 - 21.00</span></li>
                            <li>Tuesday<span>8.00 - 21.00</span></li>
                            <li>Wednesday<span>8.00 - 21.00</span></li>
                            <li>Thursday<span>8.00 - 21.00</span></li>
                            <li>Friday<span>8.00 - 21.00</span></li>
                            <li>Saturday/Sunday<span>8.00 - 21.00</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <p>@ 2020 MedDoctors. With Love by <a
                        href="https://themeforest.net/user/ar-coder/portfolio">AR-Coder</a></p>
                <ul>
                    <li><a href="#">Terms &amp; Conditions </a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Sitemap</a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- :: Scroll Up -->
    <div class="scroll-up">
        <a class="move-section" href="#page">
            <i class="fas fa-long-arrow-alt-up"></i>
        </a>
    </div>

    <!-- :: jQuery JS -->
    <script src="assets/js/jquery-3.5.1.min.js"></script>

    <!-- :: Bootstrap JS Bundle With Popper JS -->
    <script src="assets/js/bootstrap.bundle.min.js"></script>

    <!-- :: Owl Carousel JS -->
    <script src="assets/js/owl.carousel.min.js"></script>

    <!-- :: Lity -->
    <script src="assets/js/lity.min.js"></script>

    <!-- :: Nice Select -->
    <script src="assets/js/jquery.nice-select.min.js"></script>

    <!-- :: DatePicker -->
    <script src="assets/js/datepicker.min.js"></script>

    <!-- :: TimePicker -->
    <script src="assets/js/jquery.timepicker.min.js"></script>

    <!-- :: Magnific Popup -->
    <script src="assets/js/jquery.magnific-popup.min.js"></script>

    <!-- :: Waypoints -->
    <script src="assets/js/jquery.waypoints.min.js"></script>

    <!-- :: CounterUp -->
    <script src="assets/js/jquery.counterup.min.js"></script>

    <!-- :: Main JS -->
    <script src="assets/js/main.js"></script>
</body>

</html>