<% layout('layouts/boilerplate')%>
    <!-- :: Breadcrumb Header -->
    <section class="breadcrumb-header" style="background-image: url(assets/images/header/06_header.jpg)">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner">
                        <h1>About US 3</h1>
                        <ul>
                            <li><a href="index.html">Home</a></li>
                            <li><i class="fas fa-angle-right"></i></li>
                            <li>About US 3</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: About Us -->
    <section class="about-us about-us-3 py-100" id="start">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-img-box">
                        <div class="img-box">
                            <img class="img-fluid" src="assets/images/about/03_about.jpg" alt="03 About">
                        </div>
                        <div class="about-experience">
                            <i class="flaticon-stethoscope"></i>
                            <div class="experience-counter">4456</div>
                            <h5>Total Branches</h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="about-text-box">
                        <div class="sec-title">
                            <h2>Dedicated to Hope, Healing, and Recovery.</h2>
                            <h3>Quality Helthcare Starts With Quality Doctors</h3>
                        </div>
                        <p>MedDoctors Are A Medical And Health Department Provider Institutions. Suitable For
                            Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related Medical Care
                            Field.</p>
                        <p class="last">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                            Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                        <div class="row">
                            <div class="col">
                                <a class="btn-1" href="03_about-us.html">Discover About More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: Departments -->
    <!-- <section class="departments departments-2 departments-3 py-100-70">
        <div class="container">
            <div class="sec-title sec-title-3">
                <div class="row">
                    <div class="col-lg-5">
                        <h2>Best practice care!</h2>
                        <h3>Different types of departments</h3>
                    </div>
                    <div class="col-lg-5">
                        <p class="sec-explain">MedDoctors Are A Medical And Health Department Provider Institutions.
                            Suitable For Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related
                            Medical Care Field.</p>
                        <a class="btn-1 sec-btn" href="03_department.html">View All practice care</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="departments-item">
                        <span></span>
                        <i class="departments-item-icon flaticon-hematology"></i>
                        <div class="item-content">
                            <h4>Hematology</h4>
                            <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur
                                adipiscing elit.</p>
                            <a href="03_department.html" class="more">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="departments-item">
                        <span></span>
                        <i class="departments-item-icon flaticon-neurology"></i>
                        <div class="item-content">
                            <h4>Neurology</h4>
                            <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur
                                adipiscing elit.</p>
                            <a href="03_department.html" class="more">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="departments-item">
                        <span></span>
                        <i class="departments-item-icon flaticon-gastroenterology"></i>
                        <div class="item-content">
                            <h4>gastroenterology</h4>
                            <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur
                                adipiscing elit.</p>
                            <a href="03_department.html" class="more">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="departments-item">
                        <span></span>
                        <i class="departments-item-icon flaticon-pulmonology"></i>
                        <div class="item-content">
                            <h4>pulmonology</h4>
                            <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur
                                adipiscing elit.</p>
                            <a href="03_department.html" class="more">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="departments-item">
                        <span></span>
                        <i class="departments-item-icon flaticon-cardiology"></i>
                        <div class="item-content">
                            <h4>cardiology</h4>
                            <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur
                                adipiscing elit.</p>
                            <a href="03_department.html" class="more">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="departments-item">
                        <span></span>
                        <i class="departments-item-icon flaticon-ophthalmology"></i>
                        <div class="item-content">
                            <h4>ophthalmology</h4>
                            <p>Lorem Ipsum is simply text of the printing and typesetting industry. consectetur
                                adipiscing elit.</p>
                            <a href="03_department.html" class="more">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!-- :: Provide -->
    <section class="provide provide-home-3">
        <div class="bg-section">
            <div class="overlay overlay-3"></div>
        </div>
        <div class="container">
            <div class="sec-title sec-title-3">
                <div class="row">
                    <div class="col-lg-5">
                        <h2>Medical quality care</h2>
                        <h3>Complete health care solutions for everyone</h3>
                    </div>
                    <div class="col-lg-5">
                        <p class="sec-explain">MedDoctors Are A Medical And Health Department Provider Institutions.
                            Suitable For Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any Related
                            Medical Care Field.</p>
                        <a class="btn-1 btn-5 sec-btn" href="01_appointment.html">Book an appointment</a>
                    </div>
                </div>
            </div>
            <div class="provide-content">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="provide-content-box">
                            <i class="flaticon-doctor-1"></i>
                            <div class="content-box">
                                <h4>Experience<br>Doctors</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="provide-content-box">
                            <i class="flaticon-experience"></i>
                            <div class="content-box">
                                <h4>+45 Years<br>Experience</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="provide-content-box">
                            <i class="flaticon-cross"></i>
                            <div class="content-box">
                                <h4>Standards of<br>treatments</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="provide-content-box">
                            <i class="flaticon-medicine"></i>
                            <div class="content-box">
                                <h4>The Best<br>Departments</h4>
                                <p>Lorem Ipsum is simply text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>

    <!-- :: About Us -->
    <section class="about-us about-us-2 py-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text-box">
                        <div class="sec-title sec-title-3">
                            <h2>About Us</h2>
                            <h3>Professional Medical &amp; Health Care In Full Measure</h3>
                            <p class="sec-explain">MedDoctors Are A Medical And Health Department Provider Institutions.
                                Suitable For Healthcare, Medical, Doctor, Dental, Dentist, Pharmacy, Health And Any
                                Related Medical Care Field.</p>
                        </div>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.</p>
                        <ul class="about-core">
                            <li><i class="fas fa-check-double"></i>
                                <h4>online schedule</h4>
                            </li>
                            <li><i class="fas fa-check-double"></i>
                                <h4>leading technology</h4>
                            </li>
                            <li><i class="fas fa-check-double"></i>
                                <h4>high packages</h4>
                            </li>
                            <li><i class="fas fa-check-double"></i>
                                <h4>24/7 online support</h4>
                            </li>
                            <li><i class="fas fa-check-double"></i>
                                <h4>And More...</h4>
                            </li>
                        </ul>
                        <div class="row">
                            <div class="col">
                                <a class="btn-1" href="03_about-us.html">Discover About More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img-box">
                        <div class="img-box">
                            <img class="img-fluid" src="assets/images/about/02_about.jpg" alt="02 About">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: Testimonial -->
    <section class="testimonial testimonial-2 testimonial-3 py-100">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="testimonial-carousel owl-carousel owl-theme">
                        <div class="testimonial-carousel-item">
                            <div class="row">
                                
                                <div class="col-md-12">
                                    <div class="item-text">
                                        <i class="quote flaticon-left-quote"></i>
                                        <div class="content-text-box">I want to thank everyone at this facility for the
                                            quality of care and compassion they showed during my stay. The staff
                                            supported me during my treatment.</div>
                                        <div class="testimonial-doctor">
                                            <h4>Anwar Ramadan</h4>
                                            <span>cardiology</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-carousel-item">
                            <div class="row">
                                
                                <div class="col-md-12">
                                    <div class="item-text">
                                        <i class="quote flaticon-left-quote"></i>
                                        <div class="content-text-box">I want to thank everyone at this facility for the
                                            quality of care and compassion they showed during my stay. The staff
                                            supported me during my treatment.</div>
                                        <div class="testimonial-doctor">
                                            <h4>Sana El-Shamy</h4>
                                            <span>Hematology</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="testimonial-carousel-item">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="item-text">
                                        <i class="quote flaticon-left-quote"></i>
                                        <div class="content-text-box">I want to thank everyone at this facility for the
                                            quality of care and compassion they showed during my stay. The staff
                                            supported me during my treatment.</div>
                                        <div class="testimonial-doctor">
                                            <h4>Osama Bakri</h4>
                                            <span>ophthalmology</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>