<% layout('layouts/boilerplate')%>
        <!-- :: Breadcrumb Header -->
        <section class="breadcrumb-header" style="background-image: url(assets/images/header/04_header.jpg)">
            <div class="overlay"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="banner">
                            <h1>Contact Us</h1>
                            <ul>
                                <li><a href="index.html">Home</a></li>
                                <li><i class="fas fa-angle-right"></i></li>
                                <li>Contact Us</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
        <!-- :: Contact Us Page -->
        <div class="contact-us py-100">
            <div class="container">
                <div class="contact-info-content">
                    <div class="row">
                        <div class="col-md-6 col-lg-4">
                            <div class="contact-box">
                                <i class="flaticon-call"></i>
                                <div class="box">
                                    <a class="phone" href="tel:0088609830">008860 9830</a>
                                    <a class="phone" href="tel:9908300885">990830 0885</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="contact-box">
                                <i class="flaticon-email"></i>
                                <div class="box">
                                    <a class="mail" href="mailto:support@MedDoctors.com">Support@MedDoctors.com</a>
                                    <a class="mail" href="mailto:mailbox@ar-coder.com">MailBox@AR-Coder.com</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-4">
                            <div class="contact-box">
                                <i class="flaticon-location"></i>
                                <div class="box">
                                    <p>14D Street Brooklyn,</p>
                                    <p>New York.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="add-comments">
                            <div class="inner-add-comments">
                                <div class="row">
                                    <div class="col-md-6 inner-add-comments-box">
                                        <input type="text" placeholder="Name">
                                    </div>
                                    <div class="col-md-6 inner-add-comments-box">
                                        <input type="Email" placeholder="Email">
                                    </div>
                                    <div class="col-md-12 inner-add-comments-box">
                                        <input type="text" placeholder="Subject">
                                    </div>
                                    <div class="col-md-12 inner-add-comments-box">
                                        <textarea placeholder="Your Message Here "></textarea>
                                    </div>
                                    <div class="col-md-12 inner-add-comments-box last">
                                        <a class="btn-1">Submit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>