<% layout('layouts/boilerplate')%>
    <!-- :: Breadcrumb Header -->
    <section class="breadcrumb-header" style="background-image: url(/assets/images/hospital.jpeg)">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner">
                        <h1 style="color: white;">FAQs</h1>
                        <ul>
                            <li><a href="/" style="color: white;">Home</a></li>
                            <li><i class="fas fa-angle-right"></i></li>
                            <li style="color: white;">FAQs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: FAQs -->
    <center>
        <section class="faqs-page py-100-70">
            <div class="container mik">
                <div class="col-lg-6">
                    <div class="faq">
                        <% for (let faq of faqs){%>
                            <div class="faq-box">
                                <h5 class="question-header">
                                    <button class="btn btn-primary click" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#faqs-1" aria-expanded="false" aria-controls="faqs-1">
                                        <%= faq.question %>?<i class="fas fa-angle-right"></i>
                                    </button>
                                </h5>
                                <div class="collapse show" id="faqs-1">
                                    <div class="card card-body about-text">
                                        <%= faq.answer %>
                                    </div>
                                </div>
                            </div>
                            <%}%>
                    </div>
                </div>
            </div>
        </section>
    </center>