<% layout('layouts/boilerplate')%>
    <!-- :: Breadcrumb Header -->
    <section class="breadcrumb-header" style="background-image: url(/assets/images/hospital.jpeg)">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner">
                        <h1 style="color: white;">FAQs</h1>
                        <ul>
                            <li><a href="/" style="color: white;">Home</a></li>
                            <li><i class="fas fa-angle-right"></i></li>
                            <li style="color: white;">FAQs</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- :: FAQs -->
    <section class="faqs-page py-100-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="faq">
                        <div class="faq-box">
                            <h5 class="question-header">
                                <button class="btn btn-primary click" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faqs-1" aria-expanded="false" aria-controls="faqs-1">How can i find
                                    a job ?<i class="fas fa-angle-right"></i>
                                </button>
                            </h5>
                            <div class="collapse show" id="faqs-1">
                                <div class="card card-body about-text">
                                    <b>Petrol Are A Professional Industry and Manufacturing Services Provider
                                        Institutions. Suitable For Factory, Manufacturing, Industry and any Industrial
                                        related business field.</b> Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit, sed do eiusm tmpor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat adipisicing elit, sed do eiusm tempor incididunt ut labore.
                                </div>
                            </div>
                        </div>
                        <div class="faq-box">
                            <h5 class="question-header">
                                <button class="btn btn-primary click" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faqs-2" aria-expanded="false" aria-controls="faqs-2">Where can i
                                    find out about problem ?<i class="fas fa-angle-right"></i>
                                </button>
                            </h5>
                            <div class="collapse" id="faqs-2">
                                <div class="card card-body about-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tmpor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat adipisicing
                                    elit, sed do eiusm tempor incididunt ut labore.
                                </div>
                            </div>
                        </div>
                        <div class="faq-box">
                            <h5 class="question-header">
                                <button class="btn btn-primary click" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faqs-3" aria-expanded="false" aria-controls="faqs-3">How can use
                                    the product ?<i class="fas fa-angle-right"></i>
                                </button>
                            </h5>
                            <div class="collapse" id="faqs-3">
                                <div class="card card-body about-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tmpor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat adipisicing
                                    elit, sed do eiusm tempor incididunt ut labore.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="faq">
                        <div class="faq-box">
                            <h5 class="question-header">
                                <button class="btn btn-primary click" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faqs-4" aria-expanded="false" aria-controls="faqs-4">Where can i
                                    find out about problem ?<i class="fas fa-angle-right"></i>
                                </button>
                            </h5>
                            <div class="collapse" id="faqs-4">
                                <div class="card card-body about-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tmpor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat adipisicing
                                    elit, sed do eiusm tempor incididunt ut labore.
                                </div>
                            </div>
                        </div>
                        <div class="faq-box">
                            <h5 class="question-header">
                                <button class="btn btn-primary click" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faqs-5" aria-expanded="false" aria-controls="faqs-5">How can i find
                                    a job ?<i class="fas fa-angle-right"></i>
                                </button>
                            </h5>
                            <div class="collapse show" id="faqs-5">
                                <div class="card card-body about-text">
                                    <b>Petrol Are A Professional Industry and Manufacturing Services Provider
                                        Institutions. Suitable For Factory, Manufacturing, Industry and any Industrial
                                        related business field.</b> Lorem ipsum dolor sit amet, consectetur adipisicing
                                    elit, sed do eiusm tmpor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                    minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                    commodo consequat adipisicing elit, sed do eiusm tempor incididunt ut labore.
                                </div>
                            </div>
                        </div>
                        <div class="faq-box">
                            <h5 class="question-header">
                                <button class="btn btn-primary click" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#faqs-6" aria-expanded="false" aria-controls="faqs-6">How can use
                                    the product ?<i class="fas fa-angle-right"></i>
                                </button>
                            </h5>
                            <div class="collapse" id="faqs-6">
                                <div class="card card-body about-text">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusm tmpor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat adipisicing
                                    elit, sed do eiusm tempor incididunt ut labore.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>