<% layout('layouts/boilerplate')%>
    <!-- :: Breadcrumb Header -->
    <section class="breadcrumb-header" style="background-image: url(assets/images/header/04_header.jpg)">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="banner">
                        <h1>Sign Up</h1>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><i class="fas fa-angle-right"></i></li>
                            <li>Sign Up</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <!-- :: Contact Us Page -->
        <div class="contact-us py-100">
            <div class="container">
                <div class="col-lg-12">
                    <div class="add-comments">
                        <div class="inner-add-comments">
                            <form action="/register" method="POST" class="validated-form" novalidate>
                                <div class="inner-add-comments-box">
                                    <input type="text" id="username" name="username" required autofocus
                                        placeholder="User Name">
                                </div>
                                <div class="inner-add-comments-box">
                                    <input type="email" id="email" name="email" required placeholder="Email">
                                </div>
                                <div class="inner-add-comments-box">
                                    <input type="password" id="password" name="password" required placeholder="Password">
                                </div>
                                <div class="col-md-12 inner-add-comments-box last">
                                    <button class="btn-1">Sign Up</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>